*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
.header{
    position: fixed;
    width: 100vw;
    z-index: 200;
    background-color: white;

}
.logo img{
    margin-left: 40px;
    margin-top: 5px;
    position: absolute;
    height: 50px;
    width: auto;

}
.language_changer{
    position: absolute;
    z-index: 100;
}
.introductions_div{
    color: #424242;
    margin: 30px;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
}
.upper_nav{
    /* position: relative; */
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap:
}
.upper_nav >* {
    text-decoration: none;
    color:black;
}
.lower_nav{
    /* margin-bottom: 0; */
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
}
.lower_nav >* {
    text-decoration: none;
    color:black;
}
.single_nav {
    font-size: 22px;
    font-family: "helvetica neue";
    transition: border-bottom 0.5s linear;
    border-bottom: 1px solid transparent;
    margin: 20px;
}
.single_nav:hover {
    color: darkgreen;
    border-bottom: 1px solid darkgreen;
}

.home_comp{
    position: relative;
}
.canary_comp{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#componentz{
    /* margin-top: 50px; */
}
.justadivtopushthestuffdown{
    height: 300px;

}
.introductions_wrapper{
    margin-top: 50px;
}
.video{
    background-color: darkred;
    height: 400px;
    width: 700px;
}




/* carousel styiling*/
.whole_carousel{
    position: relative;
}
.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    display: flex;
    justify-content: center;
}

.carousel-dots div {
    width: 15px;
    height: 15px;
    margin: 3px;
    border: 2px solid white;
    border-radius: 30px;
    z-index: 1000;
    cursor: pointer;
}

.carousel-dots div.active {
    background-color: white;
}

.carousel-wrapper {
    position: relative;
    height: 600px;
    overflow: hidden;
    width: 100%;
}

.carousel-image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    transition-property: transform;
    transition-duration: 0s;
    z-index: 0;
}

.carousel-image.onscreen {
    transform: translateX(0%);
    z-index: 100;
    transition-duration: 1s;
}

.carousel-image.exit {
    transform: translateX(-100%);
    z-index: -100;
    transition-duration: 1s;
}
.carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
