*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "helvetica neue";

}
main{
    color: #424242;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    position: relative;
}
body{
    height: 100%;
}
.header{
    position: fixed;
    height: 70px;
    width: 100vw;
    z-index: 1000;
    background-color: white;

}
.logo img{
    margin-left: 60px;
    margin-top: 5px;
    position: absolute;
    height: 50px;
    width: auto;

}
.language_changer{
    position: absolute;
    z-index: 100;
}
.text_div{
    color: #424242;
    margin: 20px;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;

}
.ar{
    margin-left: 50px;
    margin-right: 50px;
    color: #424242;
    font-size: 20px;
    text-align: right;
    font-family: 'Droid Arabic Kufi', serif;
}

.upper_nav{
    /* position: relative; */
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap:
}
.upper_nav >* {
    text-decoration: none;
    color:black;
}

.lower_nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    height: 70px;
}


.lower_nav >* {
    text-decoration: none;
    color:black;
}
.single_nav {
    font-size: 22px;
    font-family: "helvetica neue";
    transition: border-bottom 0.5s linear;
    border-bottom: 1px solid transparent;
    margin: 20px;
}


.single_nav:hover {
    color: darkgreen;
    border-bottom: 1px solid darkgreen;
}

.home_comp{
    position: relative;
}
.trips_comp{
    padding-top: 70px;
}
.each_trip {
    color: black;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    z-index: 2;
    pointer-events: none;
    text-decoration: none;
}
.each_trip  >* {
    text-decoration: none;
    color:black;
    width: 200px;
    background-color: red;
    border-bottom: 1px solid black;
}

#componentz{
    padding-top: 70px;
    margin-left: 0px;
    margin-right: 0px;

}
.justadivtopushthestuffdown{
    height: 100px;

}
.introductions_wrapper{
    margin-top: 50px;
}
.video{
    height: 400px;
    width: 700px;
}

/* ///////////// LANGUAGE SELECTOR ///////////// */

.lang-selector{
    font-size: 16px;
    font-family: "helvetica neue";
    background-color: none;
    border: none;
    margin: 20px;
    -webkit-appearance: none;
    padding: 5px;
    text-align: center;

}

/* //////////// BOOKIN COMPONENT //////////// */



form {
    position: relative;
    display: inline-block;
    max-width: 700px;
    min-width: 500px;
    box-sizing: border-box;
    padding: 30px 25px;
    background-color: white;
    border-radius: 40px;
    margin: 40px 0;
    left: 40%;
    top: 0px;
}
h1{
    letter-spacing: 0.01em;
    margin-left: 15px;
    margin-bottom: 35px;
    text-transform: uppercase;
}
button{
    margin-top: 35px;
    background-color: white;
    border: 1px solid darkgreen;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 5px;
    color: darkgreen;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}

.question{
    position: relative;
    padding: 10px 0;
}

label{
    color: black;
    font-weight: 200;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: absolute;
    margin-left: -400px;
    z-index: 2;
    pointer-events: none;
}
input{
    border: 1px solid black;
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 5px;
    color: black;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}
.messagefield{
    height:200px;
    border: 1px solid black;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 5px;
    color: black;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;


}
.booking-comp-desc{
    color: black;
    background-color: white;
    margin-left: 150px;
    margin-top: 52px;
    font-size: 30px;
}

/* //////////// CANARY COMPONENT ////////// */

.canary_comp{
    padding-left: 50px;
    padding-right: 50px;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.7;
}
.canary_comp >*{
    margin:20px;
}
.canary_comp img {
    max-width: 90vw;
}


}
.canary_homes_images{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}
.canary_homes_images img{
    margin:5px;
    height: 180px;
    width: 180px;
    object-fit: cover;
}
.canary_comp p{
    font-size: 20px;
    /* padding-left: 100px;
    padding-right: 100px; */


}
.canary_comp h2{
    font-size: 20px;
}
.canary_first_part{
    width: 90%;
    margin: 0;
}
iframe{
    float: right;
}
/* ////////// carousel styiling ///////////*/

.whole_carousel{
    position: relative;
    padding-top: 70px;
}
.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    display: flex;
    justify-content: center;
}

.carousel-dots div {
    width: 12px;
    height: 12px;
    margin: 4px;
    border: 2px solid white;
    border-radius: 30px;
    z-index: 1000;
    cursor: pointer;
}

.carousel-dots div.active {
    background-color: white;
}

.carousel-wrapper {
    position: relative;
    height: 600px;
    overflow: hidden;
    width: 100%;
}

.carousel-image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    transition-property: transform;
    transition-duration: 0s;
    z-index: 0;
}

.carousel-image.onscreen {
    transform: translateX(0%);
    z-index: 100;
    transition-duration: 1s;
}

.carousel-image.exit {
    transform: translateX(-100%);
    z-index: -100;
    transition-duration: 1s;
}
.carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.DPE {
    font-weight: 250;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 1000000;
    top: calc(70% - 50px);
    color: white;
    font-size: 60px;
    width: auto;
    text-align: center;
    letter-spacing: 0.01em;


}

/* ////////////// enviroment friends COMP ///////////// */
.environment-friends_comp{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 1.5;
    font-size: 18px;

}
.environment-friends_comp img{
    margin: 50px;
}
.firework{
    width: 80%;
}
.bread{
    width: 40%;
}

/* /////////// DROP DOWN //////// */
.dropdown {
    position: relative;
    display: inline-block;
}
ul {
    list-style-type: none;
    margin: 5px;
    padding: 0px;
    top:45px;
    right:0px;
    width: 200px;
    background-color: white;
    position: absolute;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
li a {
     color: #000;
     text-decoration: none;
}
 li {
     padding: 8px 16px;
     border-bottom: 1px solid #e5e5e5;
}
 li:last-child {
     border-bottom: none;
}
 li:hover {
     background-color: #e5e5e5;
     color: white;
}
 .button{
     width:178px;
     height:18px;
     background-color:#ff3232 ;
     padding:12px;
     border-radius:5px;
     font-weight:bold;
     color:white;
}
 .button:before{
     content:"";
     position:absolute;
     width:0px;
     height:0px;
     border: 10px solid;
     border-color: white transparent transparent transparent;
     right:6px;
     top:18px;
}
/* ///////////// BERLIN TRIPS ////////// */
.berlin-comp{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}
.berlin-comp >*{
    margin: 20px;
}

.berlin_homes_images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.berlin_homes_images img{
    margin:5px;
    height: 300px;
    width: 300px;
    object-fit: cover;
}
.berlin_cars_images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.berlin_cars_images img{
    margin:5px;
    height: 300px;
    width: 400px;
    object-fit: cover;
}
